@font-face {
	 font-family: Futura Display BQ;
  src: url(./font/futura.otf);

}

:root {
	--card-background: #36393d;
	--overlay: black;
	--card-font-color: yellow;
	--font: Futura Display BQ;
	--header-color: #cb333b;
	--disabled-btn-color: #595959;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
  margin: 0; 
  height: 100%; 
}

#root {
	height: 100%;
}

#root > div {
	height: 100%;
	--header-height: 10rem;
	--header-padding: 2rem;
}


header {
	height: var(--header-height);
	background: var(--header-color);
	color: white;
	font-family: var(--font);
	font-size: 2rem;
	padding: var(--header-padding);
}

header div {
	margin: 0 auto;
	font-weight: normal;
	text-align: center;
}

header div h1 {
	font-weight: normal;
	margin: 0;
}

.content{
	--content-height: calc(100% - var(--header-height) - (2 * var(--header-padding)));
	--flash-card-width: 30rem;
	--flash-card-padding: 2rem;
	--flash-cards-height: 50rem;
	--grid-gap: 2rem;
	width: calc((var(--flash-card-width) + 
		var(--flash-card-padding) * 2) * 4 + var(--grid-gap) * 3);
	margin: 10rem auto;
}

.flash-cards {
	display: grid;
	grid-template-columns: repeat(4, calc(var(--flash-card-width) + 
		var(--flash-card-padding) * 2));
	grid-auto-rows: 54rem;
	grid-gap: var(--grid-gap);
}

.loading {
	font-family: var(--font);
    font-size: 4rem;
    color: var(--header-color);
    grid-column: 2/4;
    margin: 35% auto;
    padding: 0;
}

.flash-card {
	background-color: var(--card-background);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-origin: content-box;
	padding: var(--flash-card-padding);
	width: var(--flash-card-width);
	height: 50rem;
	border-radius: 1rem;
	position: relative;
	overflow: hidden;
	transition: all 0.2s ease;
}

.flash-card::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: var(--overlay);
	opacity: 0.3;
	transition: all 0.4s ease;
}

.flash-card:hover {
	box-shadow: 1px 1px 10px 0 black;
}

.flash-card:hover:before {
	opacity: 0.1;
}

.flash-card div {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem 1rem;
	background: var(--overlay);
	opacity: 0.75;
	font-family: var(--font);
	color: var(--card-font-color);
	transform: translateY(45%);
	transition: transform 0.4s ease;
}

.flash-card:hover div {
	transform: translateY(0);
}

.flash-card div h3 {
	font-size: 2.2rem;
	font-weight: normal;
	margin: 0;
}

.flash-card div p {
	font-size: 1.75rem;
	margin-bottom: 0;
}

.buttons-container {
	width: var(--flash-cards-width);	
    margin: 1.5rem auto;
}

@media (max-width: 1500px) {
	.content {
		width: calc((var(--flash-card-width) + 
		var(--flash-card-padding) * 2) * 2 + var(--grid-gap)) ;
	}
	
	.flash-cards {
		grid-template-columns: repeat(2, calc(var(--flash-card-width) + 
		var(--flash-card-padding) * 2))
	}

	.loading {
		grid-column: 1/3;
	}
}

@media (max-width: 800px) {
	.content {
		width: calc(var(--flash-card-width) + 
			var(--flash-card-padding) * 2);
	}

	.flash-cards {
		grid-template-columns: repeat(1, calc(var(--flash-card-width) + 
		var(--flash-card-padding) * 2))
	}

	.loading {
		grid-column: 1;
	}

}

.next-btn svg, .prev-btn svg {
	width: 5rem;
	height: 5rem;
	cursor: pointer;
	fill: var(--card-font-color);
}

.disabled-next svg, .disabled-prev svg {
	width: 5rem;
	height: 5rem;
	fill: var(--disabled-btn-color);
}

.next-btn svg, .disabled-next svg {
	transform: rotate(-90deg);
}

.prev-btn svg, .disabled-prev svg {
	transform: rotate(90deg);

}

.prev-btn, .disabled-prev {
	position: relative;
	padding: 0.5rem 0.5rem 0.2rem 0;
	margin: 1rem calc(100% - 13rem) 1rem 1rem;
	background: var(--card-background);
	border-radius: 0.5rem;
	border: none;
}

.next-btn, .disabled-next {
    position: relative;
    padding: 0.5rem 0 0.2rem 0.5rem;
    background: var(--card-background);
    border-radius: 0.5rem;
    border: none;
}

.next-btn::after, .prev-btn:after {
	content: '';
	border-radius: 0.5rem;
	background: var(--overlay);
	opacity: 0.3;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 0.2s ease;
}

.next-btn:hover:after, .prev-btn:hover:after {
	opacity: 0.1;
}